        body{
    background-image: linear-gradient(to right, rgb(202, 194, 194), rgb(145, 142, 142));

}
img{
    position: absolute;
    display: flex;
    top:-10%;
    right:44%;
    width: 75%;
    height: 75%;

}
nav{
    position: absolute;
    top: 15%;
    left: 39%;
    width: 10px;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    padding:20px;

        .nav{
            margin-left: 900px;
            position:fixed;
            top: 150px;
        }

        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        body{
            font-family: 'Roboto', sans-serif;
            background-color: #706868;
        }
        .master{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
        }
        .container{
            background-color: rgb(95, 87, 87);
            border-radius: 10px;
            box-shadow:0  4px 8px rgba(0, 0, 0, 0.2);
            padding: 10px;
            width: 300px;
        }
        .image img{
            border-radius: 10px;
        }
 
    }
     
        .nav{
            margin-left: 900px;
            position:fixed;
            top: 150px;
        }

        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        body{
            font-family: 'Roboto', sans-serif;
            background-color: #706868;
        }
        .master{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
        }
        .container{
            background-color: rgb(95, 87, 87);
            border-radius: 10px;
            box-shadow:0  4px 8px rgba(0, 0, 0, 0.2);
            padding: 10px;
            width: 300px;
        }
        .image img{
            border-radius: 10px;
        }
    