
    @media screen and (max-width: 168px) {
    body {
        background-image: linear-gradient(to right, rgb(15, 224, 210), rgb(83, 8, 168));
    }
    
}


img{
    position: relative;
   left: 0;
   right: 44%;

}
nav{
    position: absolute;
    top: 15%;
    left: 29%;
    width: 10px;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    padding:20px;
    gap: 10px;
    
}
@media screen and (max-width: 768px) {
    img{
        top:-10%;
        right:40%;
        width: 80%;
        height: 80%;
    }
    nav{
        top: 15%;
        left: 35%;
    }
    nav {
        font-size: 20px;
    }
    
}
p{
    position: absolute;
    top: 30%;
    right: 35%;
    font-size: 20px;
    color: black;
    
    width: 50%;
    height: 50%;
}
#ft{
    
    position: absolute;
    display: flex;
    top: 80%;
    width: 99%;
    height: 10%;
   justify-content: center;
   font: size 25px;
   text-align: center;
}



nav a{
    text-decoration: none;
    color: black;
}
#b{
    position: absolute;
    left: 90%;
    top:95%;

}

.header {
    margin-top: -50px;
}

.header nav {
       display: flex;
       justify-content: space-between;
         align-items: center;
         gap: 30px;
         margin-top: -50px;
}
.header nav a {
    font-family:  monospace;
    font-size: 20px;
    color: black;
}
.header nav a:hover {
    color: white;
    text-decoration: overline;
}
.header nav a.active {
    color: blue;
}
.header nav img {
    width: 50px;
    height: 50px;
}

nav a{
    text-decoration: none;
    color: rgb(106, 95, 95);
} #ft{
   position: absolute;
   display: flex;
   color: blue;
    top: 90%;
    width: 100%;
    height: 10%;
    justify-content: center;
    font-size: 25px;
    text-align: center;
}